<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>순행</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/src/main/resources/static/index.js"></script>
  </head>
  <body class="p-0 m-0 border-0 bd-example">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.scnu.ac.kr/SCNU/main.do"><img src="/scn.png">순행</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/main">처음으로</a>
              <a class="nav-link" href="#">동아리</a>
              <a class="nav-link" href="#">장학</a>
              <a class="nav-link" href="#">게시판1</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <div class="text-center">
      <svg class="bd-placeholder-img rounded" width="300" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">300x200 사진</text></svg>
    </div>
    
    <form class="fesform" action="/scnu/create" method="post" enctype="multipart/form-data">
      <div class="mb-1">
        <label for="festivalinfo" class="form-label">행사 정보</label>
      </div>
      <div class="mb-2">
        <label for="FormControlTextarea1" class="form-label1">제목</label>
        <input type="text" name="festitle" class="form-control" id="FormControlInput1" placeholder="제목을 입력해주세요.">
      </div>
      <div class="mb-3">
        <label for="FormControlTextarea2" class="form-label2">시작일시</label>
        <input type="datetime-local" name="starttime" class="form-control" id="FormControlInput2" placeholder="시간을 입력해주세요.">
      </div>
      <div class="mb-4">
        <label for="FormControlTextarea3" class="form-label3">종료일시</label>
        <input type="datetime-local" name="endtime" class="form-control" id="FormControlInput3" placeholder="시간을 입력해주세요.">
      </div>
      <div class="mb-5">
        <label for="FormControlTextarea4" class="form-label4">장소</label>
        <select class="form-select" name="place" aria-label="Default select example">
          <option selected>장소를 선택해주세요.</option>
          <option value="a1">A1 대학본부</option>
          <option value="a2">A2 약학대학</option>
          <option value="a3">A3 천연물신약연구소</option>
          <option value="a4">A4 학생생활관 부속동</option>
          <option value="a5">A5 학생생활관 진리관</option>
          <option value="a6">A6 학생생활관 창조관</option>
          <option value="a7">A7 학생생활관 관리동</option>
          <option value="a8">A8 학생생활관 향림관</option>
          <option value="a9">A9 학생생활관 청운관</option>
          <option value="a10">A10 인재관</option>
          <option value="a12">A12 우정원</option>
          <option value="a13">A13 웅지관</option>
          <option value="a15">A15 운동장</option>
          <option value="a17">A17 체육관</option>
          <option value="a18">A18 열린광장</option>
          <option value="b1">B1 박물관</option>
          <option value="b2">B2 70주년기념관</option>
          <option value="b3">B3 생명대 1호관</option>
          <option value="b4">B4 생명대 2호관</option>
          <option value="b9">B9 학군단</option>
          <option value="c1">C1 도서관</option>
          <option value="c2">C2 친환경농업센터</option>
          <option value="c5">C5 순천대학교 어린이집</option>
          <option value="d1">D1 창업보육센터</option>
          <option value="d2">D2 공과대학 1호관</option>
          <option value="d3">D3 공과대학 2호관</option>
          <option value="d4">D4 공과대학 3호관</option>
          <option value="e1">E1 학생회관</option>
          <option value="e2">E2 기초교육관</option>
          <option value="e3">E3 사범대학 1호관</option>
          <option value="e4">E4 사범대학 2호관</option>
          <option value="e5">E5 사범대학 3호관</option>
          <option value="e6">E6 미래창조관</option>
          <option value="e7">E7 사회과학대학</option>
          <option value="e8">E8 인문예술대학</option>
          <option value="f1">F1 국제문화컨벤션관</option>
          <option value="f2">F2 평생교육원</option>
        </select>
      </div>
      <div class="mb-6">
        <label for="FormControlTextarea5" class="form-label6">소개</label>
        <textarea class="form-control" name="info" rows="3" placeholder="행사 소개를 작성해주세요."></textarea>
      </div>
      <div class="mb-7">
        <label for="FormControlTextarea3" class="form-label3">첨부파일</label>
        <input type="file" name="files" class="form-control" id="FormControlInput4">
      </div>
      <div class="mb-8">
        <button type="submit" class="btn btn-primary">제출하기</button>
      </div>
    </form>
    </main>
    <footer>
      <div class="mb-5 container-fluid">
        <hr>
        <p>@ CloudStudying <a href="#"> privacy</a> <a href="#"> Terms </a></p>
      </div>    
    </footer>

  </body>
  <style>
    .text-center{ /* 사진 */
      margin-top: 3%;
    }
    .fesform{
      margin-top: 5%;
      margin-left: 15%;
      margin-right: 15%;
    }
  
    .mb-1 { 
      text-align: center;
    }
  
    .form-label { /* 행사정보 */
      font-weight: 900;
      font-size: large;
    }

    .mb-6 { /* 제출버튼 */
      margin-bottom: 10%;
    }
  
    .mb-8 { /* 제출버튼 */
      margin-top: 3%;
    }
  </style>
</html>